{#
Hero image that is inserted to every page. This will somehow have variable images. Probably a
  page.preprocess which sets the background image. I'll figure that out later

  @variables:
    site_name: Name of the site
    site_slogan: Slogan.
#}

{% set brand_img = directory ? '/' ~ directory ~ '/images/nmyr-Logo.webp' : 'nmyr-Logo.webp' %}
{%  set hero = 'hero-' ~ random(0, 7) ~ '.jpg'%}
{%  set hero_img = directory ? '/' ~ directory ~ '/images/heros/' ~ hero : 'heros/' ~ hero %}

<div {{attributes.addClass("branding-hero")}} style="background-image: url({{ hero_img }});">
  <div class="branding-hero__gradient">
  <div class="branding-hero__container">
    <div class="branding-hero__branding">
      <a href="/">
        <img src="{{brand_img}}" class="branding-logo" alt="{{ 'Home'|t }}" fetchpriority="high" />
      </a>
      <div class="branding-hero__name">
          <p class="h1">
            {{ site_name }}
          </p>
      </div>
    </div>
    <div class="branding-hero__slogan hidden d-sm-block">
      {{ site_slogan }}
    </div>
  </div>
  </div>
</div>
